table{
  background-color: bisque;
  border: 2px solid gray;
}
tr{
  height: 30px;
}
td{
  border: 1px solid gray;
  width: 30px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}
.col-mywidth{
  max-width: 422px;
}
.highlighted{
  background-color: green;
  transition: background-color .4s ease;
}

.container{
  max-width: 460px
}