body {
  margin: 20px 0;
}

table {
  background-color: bisque;
  border: 2px solid gray;
}
tr {
  height: 30px;
}
td {
  border: 1px solid gray;
  width: 30px;
  text-align: center;
  font-weight: bold;
  padding: 0;
}
.highlighted {
  background-color: green;
  transition: background-color 0.4s ease;
}
.container {
  max-width: 422px;
  padding: 0;
}

@media screen and (max-width: 500px) {
  .container {
    max-width: 338px;
  }
  tr {
    height: 24px;
  }
  td {
    width: 24px;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 360px) {
  .container {
    max-width: 296px;
  }
  tr {
    height: 21px;
  }
  td {
    width: 21px;
    font-size: 0.7rem;
  }
}
